APP_ENV=prod
LOG_LEVEL=INFO
PROJECT_NAME=miyin_tg_bot

DATABASE_URL=sqlite+aiosqlite:///./data/miyin.db

WEB_HOST=0.0.0.0
WEB_PORT=9800
WEB_ADMIN_PASSWORD=admin
WEB_AUTH_SECRET=change_me_to_a_long_random_string
WEB_TOKEN_EXPIRE_DAYS=10
